.row {
  margin: 0 auto;
  width: 460px;
}

.container {
  border: 1px solid;
  height: 90px;
  margin: 10px;
  padding: 10px;
  position: relative;
  width: 115px;
}

.container .content {
  background-color: green;
  border: 1px solid;
  height: 60px;
  margin: 0 auto;
}

.container .button {
  background-color: #d6de22;
  border: 1px solid;
  bottom: 10px;
  height: 12px;
  position: absolute;
  width: 12px;
}


.prev { left: 10px; }
.next { right: 10px; }